name: '一个图文ONE'

on:
  watch:
    types: [started]
  schedule:
    - cron: '20 0 * * *'

jobs:
  bot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@v1
        with:
          node-version: '12'
      - run: npm install
      - run: node ./plugins/one.js
        env:
          bot_api: ${{ secrets.bot_api }}