name: 'v2ex每日最热主题'

on:
  watch:
    types: [started]
  schedule:
    - cron: '0 10 * * *'

jobs:
  bot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@v1
        with:
          node-version: '12'
      - run: npm install
      - run: node ./plugins/v2ex_hot.js
        env:
          bot_api: ${{ secrets.bot_api }}